# FIDE Data on player ranking
an in-depth analysis

In [1]:
import pandas as pd

df = pd.read_xml("players_list_xml_foa.xml")
df.head(10)

,fideid,name,country,sex,title,w_title,o_title,foa_title,rating,games,k,rapid_rating,rapid_games,rapid_k,blitz_rating,blitz_games,blitz_k,birthday,flag
0,25941186,None,IND,M,None,None,None,None,NaN,NaN,NaN,1009.0,5.0,40.0,NaN,NaN,NaN,NaN,None
1,5855560,None,SGP,M,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2,1808060,None,WLS,M,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
3,21533636,",alfaifi,Wael ali qasim",KSA,M,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1995.0,None
4,10292519,"A A M Imtiaz, Chowdhury",BAN,M,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1975.0,None
5,10688862,"A Abdel Maabod, Hoda",EGY,F,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009.0,w
6,33496722,A Aman,IND,M,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1996.0,None
7,35853913,"A Aziz, Mohd Azizi Jamil",MAS,M,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1981.0,None
8,10224084,"A B M Hasibuzzaman, Tapan",BAN,M,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1977.0,None
9,10245154,"A B M Jobair, Hossain",BAN,M,None,None,None,None,1583.0,0.0,40.0,1597.0,5.0,20.0,1625.0,0.0,20.0,1998.0,None

In [5]:
df.head(35)

,fideid,name,country,sex,title,w_title,o_title,foa_title,rating,games,k,rapid_rating,rapid_games,rapid_k,blitz_rating,blitz_games,blitz_k,birthday,flag
0,25941186,None,IND,M,None,None,None,None,NaN,NaN,NaN,1009.0,5.0,40.0,NaN,NaN,NaN,NaN,None
1,5855560,None,SGP,M,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2,1808060,None,WLS,M,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
3,21533636,",alfaifi,Wael ali qasim",KSA,M,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1995.0,None
4,10292519,"A A M Imtiaz, Chowdhury",BAN,M,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1975.0,None
5,10688862,"A Abdel Maabod, Hoda",EGY,F,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009.0,w
6,33496722,A Aman,IND,M,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1996.0,None
7,35853913,"A Aziz, Mohd Azizi Jamil",MAS,M,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1981.0,None
8,10224084,"A B M Hasibuzzaman, Tapan",BAN,M,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1977.0,None
9,10245154,"A B M Jobair, Hossain",BAN,M,None,None,None,None,1583.0,0.0,40.0,1597.0,5.0,20.0,1625.0,0.0,20.0,1998.0,None
10,10243054,"A B M Mustakim, Chowdhury",BAN,M,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.0,None
11,48788546,A B Samad Darwajkar,IND,M,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.0,None
12,7128495,A Bakar,INA,M,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1963.0,None
13,12457558,A Bu Ba Co,VIE,M,None,None,None,None,NaN,NaN,NaN,1399.0,0.0,40.0,NaN,NaN,NaN,2002.0,None
14,25121731,A C J John,IND,M,None,None,None,None,1063.0,0.0,40.0,NaN,NaN,NaN,NaN,NaN,NaN,1987.0,i
15,35077023,A Chakravarthy,IND,M,None,None,None,None,1151.0,0.0,40.0,NaN,NaN,NaN,NaN,NaN,NaN,1986.0,i
16,88181391,A Dinesh,IND,M,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.0,None
17,10207538,"A E M, Doshtagir",BAN,M,None,None,None,None,1840.0,0.0,40.0,1836.0,0.0,20.0,1860.0,0.0,20.0,1974.0,i
18,10245952,"A F M Moazzem Hossin, Bhuiyan",BAN,M,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1998.0,None
19,10273611,A F M Ziaur Rahman,BAN,M,None,None,None,None,NaN,NaN,NaN,1404.0,0.0,40.0,NaN,NaN,NaN,2007.0,None
20,10688870,"A Fatehy Ay, Noor",EGY,F,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.0,w
21,55630910,"A Flores, Ervin",RUS,M,None,None,None,None,NaN,NaN,NaN,1159.0,0.0,40.0,NaN,NaN,NaN,2011.0,None
22,10292101,A H Al-Ahsan Abhro,BAN,M,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006.0,None
23,10680810,"A hamed Ashraf, Abdallah",EGY,M,None,None,None,None,1728.0,0.0,40.0,NaN,NaN,NaN,1741.0,0.0,20.0,2001.0,i
24,5716365,"A Hamid, Harman",MAS,M,None,None,None,None,1302.0,3.0,40.0,1593.0,0.0,20.0,NaN,NaN,NaN,1970.0,None
25,80821197,"A J V V, Adhikaram",SRI,F,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.0,w
26,5765331,"A Jailani, Nia Natasha",MAS,F,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006.0,w
27,88156036,A Janki Rao,IND,M,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1982.0,None
28,10207546,"A K M Aminul, Islam",BAN,M,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
29,10217916,"A K M Arif, Hossain",BAN,M,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1970.0,None
30,10215727,"A K M Jane, Alam",BAN,M,None,None,None,None,NaN,NaN,NaN,1609.0,0.0,20.0,NaN,NaN,NaN,1969.0,None
31,10207716,"A K M Manjurul, Alam",BAN,M,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1964.0,None
32,10256890,A K M Moklasur Rahman,BAN,M,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1977.0,None
33,10296875,"A K M Nubair, Karim",BAN,M,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0,None
34,10206612,"A K M, Sourab",BAN,M,None,None,None,None,1598.0,0.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,i